{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ;; for email domain MX record validation: https://github.com/dnsjava/dnsjava/blob/master/EXAMPLES.md
        dnsjava/dnsjava {:mvn/version "3.5.2"}
        ;; TODO: commons-net has SMTPClient: https://commons.apache.org/proper/commons-net/javadocs/api-3.6/org/apache/commons/net/smtp/SMTPClient.html#verify(java.lang.String)
        ;; commons-net/commons-net {:mvn/version "3.9.0"}
        }
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.2" :git/sha "fe6b140"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}
  ;; same as :build but with :extra-deps and :main-opts for cider
  :build-cider {:deps {io.github.clojure/tools.build {:git/tag "v0.9.2" :git/sha "fe6b140"}
                       slipset/deps-deploy {:mvn/version "0.2.0"}}
                :ns-default build
                :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                             cider/cider-nrepl {:mvn/version "0.29.0"}
                             refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
                :main-opts ["-m" "nrepl.cmdline" "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}}}



